doctype html 

html(lang='en-US')
    head
        meta(charset='utf-8')
        title RTC: Dummy Site
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet')
        link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        #react-app-target
        #react-overlay-target
        script(src="/js/bundle.js")
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        