@import './Variables.scss';

@keyframes HueRotation {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.rtc-brand-logo {
    animation-name: HueRotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.primary-gradient {
    background-image: $primary-gradient;
}

.hue-rotate {
    animation-name: HueRotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
