@keyframes HueRotation {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.rtc-brand-logo {
    animation-name: HueRotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
