@import 'Variables';
@import 'Animations';

button.button-component {
    background-image: $primary-gradient;
    border: none;
    padding: $border-width;
    box-sizing: border;
    animation-name: HueRotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    div {
        background-color: none;
        color: white;
        height: 100%;
        width: 100%;
        padding: $standard-padding;
        box-sizing: border;
        transition: $default-transition-time background, $default-transition-time color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div:hover {
        background-color: white;
        color: black;
    }
}
