@import 'Variables';
@import 'Animations';

.input-field-component {
    background-image: $primary-gradient;
    min-height: 3rem;
    font-size: 0.8rem;
    padding: $border-width;
    color: white;
    font-weight: bold;
    animation-name: HueRotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    input {
        width: 100%;
        height: $input-height;
        padding-left: $standard-padding;
        padding-right: $standard-padding;
        border: none;
        outline: none;
    }

    button {
        width: $input-height;
        height: $input-height;
        border: none;
        background: none;
    }

    div {
        padding-left: $standard-padding;
        text-align: left;
    }
}

.input-field-component[data-valid='v'] {
    background-image: $success-gradient;
    animation: none;
}

.input-field-component[data-valid='iv'] {
    background-image: $danger-gradient;
    animation: none;
}

// TODO: Componentize slider (range) inputs

input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-image: $primary-gradient;
    border-radius: 1rem;
    animation-name: HueRotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}