@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
@import 'InputField';
@import 'TabbedComponent';
@import 'ButtonComponent';
@import 'BootStrapAlert';

$default-font-family: 'Zen Kaku Gothic Antique', sans-serif;

* {
    font-family: $default-font-family;
}

body {
    background: #fafafa;
}
