@import 'Variables';
@import 'Animations';

.tabbed-component-button-group {
    box-sizing: border-box;
    display: inline-flex;
    background-image: $primary-gradient;
    padding: $border-width;
    border-radius: 2rem;
    margin-bottom: 1rem;
    animation-name: HueRotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    .tabbed-component-button {
        background: white;
        border: none;
        box-sizing: border-box;
        padding: 0.25rem;
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .tabbed-component-button:first-child {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        margin-left: 0;
    }

    .tabbed-component-button:last-child {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        margin-right: 0;
    }
}
