$primary-gradient: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
$success-gradient: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
$danger-gradient: linear-gradient(to top, #f77062 0%, #fe5196 100%);
$border-width: 0.1rem;
$input-height: 2.2rem;
$standard-padding: 0.5rem;
